@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;1,100;1,200;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #222;
  /* font-family: "Inter", sans-serif; */
  font-family: "JetBrains Mono", monospace;
  /* font-family: "Helvetica"; */
}

/* --------------------------------- Header --------------------------------- */

img {
  width: 100%;
  max-width: 100%;
  max-height: 30vh;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

main {
  padding: 10px 10px 0 10px;
  max-width: 80%;
  margin: 0 auto 100px auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
  font-size: 14px;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  /* font-family: "Press Start 2P"; */
}

/* ---------------------------------- Logo ---------------------------------- */
a.logo h6 {
  margin: 0 0 0 5px;
  font-size: 23px;
  background: linear-gradient(103deg, #c1c1e0 0%, #86a8e7 37%, #d3e0cd 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "JetBrains Mono", monospace;
}

header nav {
  display: flex;
  gap: 15px;
}

/* ---------------------------------- Post ---------------------------------- */
div.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  div.post {
    grid-template-columns: 0.7fr 1.3fr;
  }
}

/* Post title */
div.post div.texts h2 {
  margin: 0;
  font-size: 1.8rem;
  font-family: "JetBrains Mono", monospace;
}

div.post div.texts a {
  text-decoration: none;
  color: inherit;
}

div.post p.info {
  margin: 6px 0;
  color: #888;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
  font-family: "JetBrains Mono", monospace;
}

div.post p.info a.author {
  color: #333;
  font-family: "JetBrains Mono", monospace;
}

div.post p.summary {
  margin: 6px 0;
  line-height: 1.4rem;
  font-family: "JetBrains Mono", monospace;
}

form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 5px;
  border: 2px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  font-size: 12px;
}

button {
  width: 100%;
  display: block;
  padding: 7px 0;
  background: #1b2833;
  color: white;
  /* background: linear-gradient(103deg, #c1c1e0 0%, #86a8e7 37%, #d3e0cd 100%); */
  border: 0;
  border-radius: 5px;
  font-size: 13px;
}

.btn-reading {
  width: 50%;
  display: block;
  margin-top: 10px;
  padding: 20px 0;
  background: linear-gradient(270deg, #c1c1e0 0%, #86a8e7 37%, #d3e0cd);
  background-size: 400% 400%;
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

form.login h4,
form.login h6,
form.register h4,
form.register h6 {
  text-align: center;
}

form.login h6,
form.register h6 {
  font-size: 13px;
}

div.post-page div.image {
  overflow: hidden;
  display: flex;
  max-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 0.7rem;
  color: #aaa;
}

div.post-page .author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}

div.post-page div.content p {
  line-height: 1.6em;
  font-size: 20px;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn {
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
}
div.post-page a.delete-btn {
  background-color: #c70039;
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
}

a svg {
  height: 20px;
}

svg {
  height: 20px;
}

.box {
  height: 30px;
}

.footer {
  background-color: #1b2833;
  padding: 12px;
  color: white;
  text-align: center;
  font-size: 12px;
  bottom: 0;
  position: fixed;
  width: 100%;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
}

#dropdown-basic,
#NewPost,
#logout {
  font-size: 15px;
}

#dropdown-basic {
  background: linear-gradient(270deg, #c1c1e0 0%, #86a8e7 37%, #d3e0cd);
  transition: background 0.5s ease-in-out;
  animation: gradientAnimation 5s ease infinite;
  display: block;
  margin-top: 10px;
  background: linear-gradient(270deg, #c1c1e0 0%, #86a8e7 37%, #d3e0cd);
  background-size: 400% 400%;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* -------------------------------- Hero page ------------------------------- */
div.hero {
  width: 100%;
  height: 500px;
  font-family: "JetBrains Mono", monospace;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

div.hero h1 {
  font-size: 3.5em;
}
